.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #020617;
  position: sticky;
  top: 0;
}

.logo {
  color: #818cf8;
}

.tagline {
  opacity: 0.7;
}

.featured {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.featured .post {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .featured .post {
    flex-direction: row;
  }

  .featured img {
    height: 100%;
    max-width: 50%;
  }
}
